{% extends "main.html" %}

{% block content %}
<h1>404 - Page Not Found</h1>
<p>The page you're looking for doesn't exist or has been moved.</p>
<p>Here are some helpful links to get you back on track:</p>
<ul>
  <li><a href="{{ config.site_url }}">Home</a> - Return to the homepage</li>
  <li><a href="{{ config.site_url }}getting-started/">Getting Started</a> - Get up and running with Habits Factory</li>
  <li><a href="{{ config.site_url }}architecture/">Architecture</a> - Learn about the system architecture</li>
  <li><a href="{{ config.site_url }}api-reference/">API Reference</a> - Browse the API documentation</li>
</ul>
{% endblock %}
